// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.db-title {
  height: 300px;
}

.db-portfolio {
  height: 300px;
}

.db-reviews {
  height: 300px;
}
